.profile{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.profileRight{
    flex: 9;
}

.butn{
    position: absolute;
    top: -250px;
}
.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 247px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileUserImgAdd{
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 285px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
    width: auto;
    height: auto;
    margin-left: 5px;
}

.profileRightBottom{
    display: flex;
}

.navlink{
    color: "black";
    text-decoration: none;
}

.point{
    cursor: cursor;
}
